@blue-top: #276187;
@lightblue: #75b8e5;
@blue-search: #084b78;
@yellow-border: #f9d100;

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Roboto Condensed', sans-serif;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #00101c;
  color: white;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.footer .text-muted {
  margin: 20px 0;
  display: inline;
  float: left;
  color: white;
}
.footer .text-right {
  float: right;
}

.footer a,
#testimonials a {
  text-decoration: underline;
  color: @yellow-border;
}
.footer .text-right a {
  color: white;
  text-decoration: none;
}

.footer > .container {
  background-color: #00101c;
}

body > p {
  margin-bottom: 0;
  padding: 12px 0 12px 0;
  background-color: @blue-top;
}
body > p > a {
  margin: 0 10px 0 10px;
  font-size: 18px;
  font-weight: lighter;
  color: white;
}
body > p > a:hover,
body > p > a:focus {
  color: white;
  text-decoration: none;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border-color: @lightblue;
  border-width: 1px 0 1px 0;
  background-image: url("../img/bg-navigation-bar.png");
  background-repeat: no-repeat;
}

.navbar-brand > span {
  margin-right: 5px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: white;
}

@media (min-width: 1200px) {
  .navbar-nav {
    padding-left: 20%;
  }  
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
  font-size: 20px;
  font-weight: lighter;
  color: white;
}

.navbar-default .navbar-nav>li>a {
  border-bottom: 3px solid transparent;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  border-bottom: 3px solid @yellow-border;
  color: white;
}

.navbar-form .form-control {
  border-radius: 0;
  border: 1px solid @lightblue;
  background-color: @blue-search;
}

@media only screen and (max-width: 766px) {
  .collapsing, .in {
    background-color: @blue-top;
  }
}

.jumbotron {
  margin-bottom: 0;
  background-image: url("../img/morskie-oko-panorama-duza.jpg");
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;
  padding-top: 200px;
  color: white;
}
.jumbotron-video {
  background-color: rgba(255,255,255,0.25);
}
.icon-play2 {
  color: rgba(48,97,102,0.8);
}

#about p {
  text-indent: 20px;
}

#testimonials {
  background: #192732;
  color: white;
  button, input, textarea {
    border-radius: 0;
  }
  button {
    background-color: @yellow-border;
  }
}

#slider {
  background-color: @lightblue;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 400px;
  margin-bottom: 0;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  text-align: left;
}
.carousel-caption div {
  background-color: #00101c;
  padding: 10px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 350px;
  background-color: transparent;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}
/* Bump up size of carousel content */
.carousel-caption p {
  margin-bottom: 20px;
  // font-size: 21px;
  // line-height: 1.4;
}
.carousel-control.left, .carousel-control.right {
    background-image: none
}