@blue-top: #276187;
@blue-light: #75b8e5;
@blue-search: #084b78;
@yellow-border: #f9d100;
@dark-contact: #192732;
@dark: #00101c;

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Roboto Condensed', sans-serif;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: @dark;
  color: white;
}

// FOOTER CONTENT
.footer .text-muted {
  margin: 20px 0;
  display: inline;
  float: left;
  color: white;
}
.footer .text-right {
  float: right;
}
.footer a {
  text-decoration: underline;
  color: @yellow-border;
}
.footer .text-right a {
  color: white;
  text-decoration: none;
}
.footer > .container-fluid {
  background-color: @dark;
}

// LOGIN/SOCIAL LINKS
body > p {
  margin-bottom: 0;
  padding: 12px 0 12px 0;
  background-color: @blue-top;
}
body > p > a {
  margin: 0 10px 0 10px;
  font-size: 18px;
  font-weight: lighter;
  color: white;
}
body > p > a:hover,
body > p > a:focus {
  color: white;
}

// NAVIGATION BAR
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border-color: @blue-light;
  border-width: 1px 0 1px 0;
  background-image: url("../img/bg-navigation-bar.png");
  background-repeat: no-repeat;
}
.navbar-brand > span {
  margin-right: 5px;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: white;
}

@media (min-width: 1200px) {
  .navbar-nav {
    padding-left: 20%;
  }  
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
  font-size: 20px;
  font-weight: lighter;
  color: white;
}
.navbar-default .navbar-nav>li>a {
  border-bottom: 3px solid transparent;
  transition: border-color 0.45s;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>.active {
  border-bottom: 3px solid @yellow-border;
  color: white;
}
.navbar-form .form-control {
  border-radius: 0;
  border: 1px solid @blue-light;
  background-color: @blue-search;
}

@media only screen and (max-width: 766px) {
  .collapsing, .in {
    background-color: @blue-top;
  }
}

// ANIMATIONS
.navbar-brand span {
  display:inline-block;
}
.navbar-brand:hover {
   span {
    transform-origin: bottom center;
    animation: brandicon 0.35s 2 alternate;
  }
}
@keyframes brandicon {
  0% {transform: rotate(0deg) scale(1);}
  50% {transform: rotate(25deg) scale(1.5);}
  100% {transform: rotate(-25deg) scale(1.5);}
}