@import "app";
@gold: #bca51d;

#rowTemplate {
  display: none;
}

h3 small {
  font-size: 65%;
  color: @gold;
}

.btn-default,
.btn-default:hover,
.btn-default:focus {
  background: @gold;
  color: white;
  border-radius: 0;
}

.media-object {
  height: 275px;
  width: 437px;
}
.media-stars,
.score {
  color: @gold;
}
tbody .media-icons {
  height: 230px;
  width: 150px;
}
.media-icons > span {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
.media-icons > span:nth-child(n+6) {
  position: relative;
  bottom: 250px;
  left: 60px;
}
.media-body p a {
  color: @gold;
  text-decoration: underline;
}
