/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Roboto Condensed', sans-serif;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #00101c;
  padding-top: 23px;
}
.footer ul li {
  display: inline;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.navbar {
  background-image: url("img/bg-navigation-bar.png");
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a,
.jumbotron {
  color: white;
}

.navbar-nav {
  font-weight: lighter;
  padding-left: 25%;
}

.jumbotron {
  background-image: url("img/morskie-oko-panorama-duza.jpg");
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;
  padding-top: 15%;
}
.jumbotron-video {
  background-color: rgba(255,255,255,0.25);
}
.icon-play2 {
  color: rgba(48,97,102,0.8);
}
